@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Bold.ttf') format('truetype'),
         url('../fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700 900; 
    font-style: normal;
}


.card {
    background-color: #fff;
    border-radius: 16px;
    padding: 15px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: left;
    width: 316px;
    height: 360px;
    /* max-width: 316px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Satoshi', sans-serif;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card h5 {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.card .btn-primary {
    background-color: #00AAFF;
    border: none;
    font-weight: bold;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 10px;
    top: 298px;
    left: 16px;

}

.card .btn-primary:hover {
    background-color: #0799e2;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 83.46px;
    height: 82px;
    padding: 5px;
    top: 16px;
    left: 16px;
}

.badge {
    color: #333;
    height: 28px;
    width: 75px;
    font-weight: 200;
    line-height: 100%;
    padding: 6px 12px;
    margin-bottom: auto;
    border-radius: 12px;
    background-color: #B0D9FF;
}

.job-details {
    display: flex;
    align-items: center;
    gap: 10px;  
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
  .icon-img {
    width: 26px; 
    height: 25px;  
  }
  
  p {
    margin: 0;  
  }
   ul {
    font-size: 14px;
    margin-right: 5px;
    margin-left: -14px;
    padding-top: 10px;
    min-height: 100px;
   }
   ul li {
    line-height: 1.5;
   }
   li {
    margin-bottom: 5px;
   }
   