/* @font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
} */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.ttf') format('truetype'),
       url('../fonts/Satoshi-Bold.woff2') format('woff2');;
  font-weight: 700 900; 
  font-style: normal;
}

.job-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -90px;
  font-family: 'Satoshi', sans-serif;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 8px;
  background: transparent;
  border: none;
  flex: 1;
  min-width: 220px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.filter-item select,
.filter-item input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: #686868;
  font-weight: 500;
}

.filter-icon {
  color: #666;
  font-size: 18px;
  height: 22px;
  width: 23px;
}



input[type="range"] {
  width: 140px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #000;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.filter-separator {
  width: 1.5px;
  height: 50px;
  background-color: #ddd;
}

.salary-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 220px;
  gap: 10px;
  font-weight: bold;
}

.salary-slider {
  width: 80%;
  height: 6px;
  background: #e0e0e0;
  border-radius: 5px;
  position: relative;
}

.track {
  background: black;
  height: 6px;
  border-radius: 5px;
}

.thumb {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.salary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.salary-header span {
  font-size: 16px;
}


